:root {
  --chatBackground: #c8dae4;
  --chatText: #0e0f0f;
  --buttonColor: #ffffff;
  --buttonText: #0e0f0f;
  --inputBackground: #ffffff;
  --inputText: #000000;
  --ulistColor: #b7cedc;
  --ulistText: #0e0f0f;
  --optionsText: #000000;
  --footerBackground: #84acc2;
  --placeholderColor: #0e0f0f;
  --iconColor: #0e0f0f;
  --superwhispercolor: green;
  --superbancolor: red;
}

::after {
  --badgeText: #ffffff;
  --badgeColor: 255, 0, 55;
}

* {
  transition: all 0.5s ease-in-out;
}

html,
body,
input,
textarea,
select,
button {
  background: var(--footerBackground);
  border-color: var(--footerBackground);
  color: var(--optionsText);
}

button {
  border-color: var(--footerBackground);
  color: var(--buttonColor);
}

.chat_ibg {
  padding: 5px 0px 0px 20px !important;
  background: var(--footerBackground);
}

#superban {
  color: red;
}

#superwhisper {
  color: green;
}

.uinfo {
  background: var(--chatBackground);
  color: var(--ulistText);
}

.userlist {
  background: var(--ulistColor);
}

.u_reg .chan_text {
  background: initial;
  backdrop-filter: brightness(0.85);
}

#u_stats_clone a {
  color: var(--buttonText);
  text-decoration: none;
  display: inline-flex;
}

/*
#u_stats_clone .value.no {
  color: transparent;
  background: transparent;}


#u_stats_clone .value {
  color: var(--badgeText);
  background:rgba(255,0,0,.85);
}
*/

.ulinner {
  overflow: auto !important;
  overflow-x: hidden !important;
  -ms-overflow-style: none;
  /* IE 11 */
  scrollbar-width: none;
  /* Firefox 64 */
  padding: 5px 25px 0px 10px !important;
}

.ulinner a {
  color: var(--ulistText);
}

.u_reg .ulinner {
  color: var(--ulistText);
}

#ul > a.away {
  transition: all 1s ease;
  opacity: 0.5;
}

#ul > a.sep {
  font-style:italic;
}

.ulinner.headless {
  top: 100px;
}

.ulinner.headless.gast {
  top: 50px;
}

.ulist-popup {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  z-index: 1000;
  border: 2px solid var(--ulistColor);
  padding-bottom: 5px;
  background: var(--chatBackground);
}

.ulist-popup a {
  color: var(--ulistText);
  text-decoration: none;
  display: block;
  padding: 0px 5px 0px 5px;
  line-height: 16px;
}

.ulist-popup .headline {
  background: var(--footerBackground);
  color: var(--ulistText);
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 5px;
}

/* replace Backgound images with simple color */
.ww_chat_header {
  background: var(--chatBackground);
}

/* replace Backgound images with simple color */
.ww_chat_footer {
  background: var(--footerBackground);
}

.chat_i #custom_input_text {
  color: var(--inputText);
  background: var(--inputBackground);
  width: 95%;
  resize: none;
  font-size: 1.1em;
  padding: 2px;
  margin: 2px;
}

::placeholder {
  color: var(--placeholderColor);
  opacity: 0.4 !important;
  line-height: normal;
  font-size: 1em;
}

#custom_input_text::placeholder {
  color: var(--placeholderColor);
}

.superwhisper::placeholder {
  opacity: 0.5 !important;
}

#ul.dark {
  filter: brightness(1.2);
}

#ul.light {
  filter: brightness(1);
}

#custom_input_text.dark {
  color: white;
}

#custom_input_text.light {
  color: black;
}

.dark::placeholder {
  color: white;
}

.light::placeholder {
  color: black;
}

.chat_i {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.chat_i2 {
  width: 1%;
  padding-top: 0;
  padding-right: 10px;
}

td.chat_i2 {
  color: var(--optionsText);
}

.chat_i3 {
  width: 20% !important;
}

.chat_i4 {
  width: 1%;
}

table {
  border-color: var(--footerBackground);
}

.c_tab {
  border-color: initial;
  border-collapse: collapse;
}

.ww_chat_divide {
  background-color: inherit;
  backdrop-filter: brightness(1.2);
}

html {
  overflow: hidden;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

input,
textarea {
  border-color: var(--inputBackground);
  border-style: solid;
  outline: none;
}

.betterccbtn {
  background: var(--buttonColor);
  color: var(--buttonText);
  border-color: var(--inputBackground);
  height: 25px;
  margin: 5px;
}

#darkmodechecklabel {
  display: inline;
  margin: 5px;
}

#optionsdiv {
  display: flex;
  flex-wrap: wrap;
}

#betteroptions {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
}

form[name="OF"] {
  display: flex !important;
  align-items: center !important;
}

#u_stats div,
#u_stats_clone div {
  display: inline-flex;
}

a.uonl,
a.ufri,
a.unc {
  position: relative;
  top: 0px;
  left: 10px;
  padding: 0px;
}

i.fa,
i.fas,
i.far,
i.fad {
  color: var(--iconColor);
  filter: brightness(1.3);
}

.fa-stack[data-count]:after {
  position: absolute;
  right: 5%;
  top: 5%;
  content: attr(data-count);
  font-size: 46%;
  padding: 0.2em;
  border-radius: 999px;
  line-height: 1.5em;
  text-align: center;
  min-width: 1.5em;
  font-weight: bolder;
}

.fa-stack.value:after {
  color: var(--badgeText);
  background: rgba(var(--badgeColor), 0.85);
}

.fa-stack.value.no:after {
  color: transparent;
  background: transparent;
}